/* import fonts */
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

:root {
  --my-padding-left: 50px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "SF Pro Display", sans-serif;
}

a {
  text-decoration: none;

  font-family: "SF Pro Display", sans-serif;
  color: #7eb4ff;
  font-size: 15px;

  cursor: pointer;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.esquerda {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100vh;
  background-color: #f0f0f0;
}

.direita {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100vh;
  background-color: #2a548d;
}

.img-BG {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70% !important;
}

.conteiner {
  display: flex;

  flex-direction: column;
  gap: 5px;
  width: 470px;
}
.conteinerChangeAccount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 40px;

  width: 100% !important;
}

#conteinerLogo {
  width: 50% !important;
  padding-bottom: 40px;
}

#conteinerTitle {
  font-size: 35px;
  color: black;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
  margin: 0;
}

#conteinerMessenger {
  margin: 0;
  color: #828282;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 20px;
}

.remember {
  display: flex;
  align-items: center;
}

.textBox {
  width: calc(100% - var(--my-padding-left));
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #d6d5d5;
  padding-left: var(--my-padding-left); /* Espaço para o ícone */

  font-family: "SF Pro Display", sans-serif;
}

input:focus {
  outline: none;
  border: 2px solid #3c73c0;
}

/* Novo estilo para o ícone do email */
.emailIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("../img/email.png");
  background-size: cover;
  cursor: pointer;
}

.senhaIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("../img/Lock.png");
  background-size: cover;
  cursor: pointer;
}

.inputComIcone {
  position: relative;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#conteinerNoAccount {
  font-family: "SF Pro Display", sans-serif;
  text-align: center;

  color: #A5A5A5;
  font-weight: 400;
}

.btn {
  width: 100%;
  height: 65px;
  border-radius: 8px;
  color: #f0f0f0;
  background-color: #7eb4ff;
  border: none;
  font-size: 20px;

  font-family: "SF Pro Display", sans-serif;
  cursor: pointer;
}

.checkbox-label {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;

  margin-left: 6px;
  color: #A5A5A5;
}

/* Estilização inicial do checkbox */
.conteinerCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  position: relative;

  margin: 0;
}

/* Estilização do checkbox quando está marcado */
.conteinerCheckbox:checked {
  background-color: #d6d5d5;
  border-color: #d6d5d5;
}

.circleBlueDark {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 466px;
  height: 466px;
  background-color: #2e5b9a;
  opacity: 85%;
}

.circleBlueLight {
  margin: auto;
  width: 390px;
  height: 390px;
  border-radius: 100%;
  background-color: #3c73c0;
}

.Circlerectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f5f9;
  height: 480px;
  width: 360px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Circlerectangle img {
  max-width: 420px;
  max-height: 150px;
  width: auto;
  height: auto;
}

#iconCheck {
  margin-bottom: 35px;
}

/* CSS para telas pequenas */
@media only screen and (max-width: 768px) {
  .main {
    display: block;
    height: auto;
  }

  .esquerda {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vh;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .direita {
    display: none; /* Oculta a parte da direita */
  }

  .conteiner {
    display: flex;

    flex-direction: column;
    gap: 5px;
  }

  /* ... outros estilos ... */

  .inputComIcone {
    width: 100%; /* Define largura total para telas pequenas */
  }
}

/* CSS para telas pequenas */
@media only screen and (min-width: 1000px) {
  .main {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .esquerda {
    width: 50%;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .direita {
    display: flex; /* Alteração para tornar a parte da direita visível */
    width: 50%;
    height: 100vh;
    background-color: #2a548d;
  }

  .conteiner {
    display: flex;

    flex-direction: column;
    gap: 5px;
    width: 470px;
  }

  /* ... outros estilos ... */

  .inputComIcone {
    position: relative;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
}
