body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.main{
    display: flex;
    width: 100%;
    height: 100%;
}

.esquerda{
    width: 50%; 
    height: 100vh; 
    background-color: #f0f0f0;
}

.direita{
    width: 50%; 
    height: 100vh; 
    background-color: #2a548d;
}

.conteiner{
    margin: auto;
    margin-top: 3%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 470px;
    
}
.conteinerChangeAccount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#conteinerLogo{
    width: 299px;
    height: 60px;
    padding-bottom: 40px;
}

#conteinerTitle{
    font-size: 35px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

#conteinerMessenger{
    margin: 0;
    color: #828282;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}

.textBox{
    width: 468px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #d6d5d5;
}

/* Novo estilo para o ícone do email */
.emailIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 30px; 
    height: 30px; 
    background-image: url('../img/email.png'); 
    background-size: cover;
    cursor: pointer;
}


.senhaIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 30px; 
    height: 30px; 
    background-image: url('../img/Lock.png'); 
    background-size: cover;
    cursor: pointer;
}

.inputComIcone {
    position: relative;
    width: 468px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#conteinerNoAccount{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.btn{
    width: 470px;
    height: 65px;
    border-radius: 8px;
    color: #f0f0f0;
    background-color: #7EB4FF;
    border: none;
    font-size: 25px;
}

.checkbox-label {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

 /* Estilização inicial do checkbox */
.conteinerCheckbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
  }
  
  /* Estilização do checkbox quando está marcado */
  .conteinerCheckbox:checked {
    background-color: #d6d5d5;
    border-color: #d6d5d5;
  }

  .conteinerEsqueceuSenha{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7EB4FF;
    font-size: 15px;
  }
  


.circleBlueDark{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
    width: 466px;
    height: 466px;
    background-color: #2E5B9A;
    opacity: 85%;
}

.circleBlueLight{
    margin: auto;
    width: 390px;
    height: 390px;
    border-radius: 100%;
    background-color: #3C73C0;
}

.Circlerectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1F5F9;
    height: 480px;
    width: 360px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.Circlerectangle img{
    max-width:420px;
    max-height:150px;
    width: auto;
    height: auto;
}

#iconCheck{
    margin-bottom: 35px;
}