:root {
  --body-color: #fffcff;
  --header-color: #5d94e0;
  --header-button: #5d94e0;
  --color-weekdays: #247ba0;
  --box-shadow: #cbd4c2;
  --hover: #e8faed;
  --current-day: #e8f4fa;
  --event-color: #58bae4;
  --modal-event: #e8f4fa;
  --color-day: white;
  --margin-right: 10px;
}

a{
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;

  box-sizing: border-box;

  font-family: "SF Pro Display", sans-serif;
}

.subtask-item {
  margin-bottom: 10px;
}

.subtask-item input {
  margin-right: 10px;
  width: 200px;
}

.category-card {
  margin-top: 10px;
}

.category {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.to_do {
  background-color: #ffcccb;
  color: #d8000c;
}

.doing {
  background-color: #ffebcc;
  color: #f57c00;
}

.done {
  background-color: #c8e6c9;
  color: #2e7d32;
}

body {
  margin: 0 auto;
  background-color: var(--body-color);
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: var(--header-color);
  font-size: 26px;
  font-family: "SF Pro Display", sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: var(--header-button);
}
#container {
  max-width: 600px;
  margin: auto;

  margin-top: 25px;
}
#weekdays {
  font-family: 'SF Pro Display', sans-serif; 
  width: 100%;
  display: flex;
  color: var(--color-weekdays);
}
#weekdays div {
  width: 100px;
  padding: 10px;

  text-align: center;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 80px;
  padding: 10px;
  height: 80px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-day);
  margin: 2.5px;
  box-shadow: 0px 0px 3px var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15%;
}
.day:hover {
  background-color: var(--hover);
}

h4 {
  font-family: "SF Pro Display", sans-serif;
}

.day + #currentDay {
  background-color: var(--current-day);
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: var(--event-color);
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: var(--body-color) !important;
  box-shadow: none !important;
}
#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: var(--modal-event);
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: "SF Pro Display", sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton,
#deleteButton {
  background-color: var(--header-color);
}
#saveButton,
#closeButton {
  background-color: var(--header-button);
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.MenuHeaderIMG {
  margin-right: var(--margin-right);
}

.Logo_Middle {
  width: 150px;
}

.ImgCabecalho_Right {
  margin-right: 15px;
}

.cabecalhoLeft {
  margin-left: 15px;
}

header {
  margin: 0;
  height: 70px;
  width: 100%;
  background-color: #5d94e0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside {
  background-color: #eeeeee;
  color: #fff;
  padding: 10px;
  margin-right: 30vh;
  width: 30vh;
  min-height: 100vh;
}

#separacao {
  display: flex;
  flex-direction: row;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-icon {
  font-size: 24px;
  cursor: pointer;
}
.home-icon,
.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.conteinerAside {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.conteinerAsideElement1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

h4 {
  color: #484848;
  margin: 0;

  font-size: 16px;
  font-weight: 500;
}
.conteinerAsideImg {
  width: 12%;

  margin-right: var(--margin-right);
}

@media screen and (max-width: 900px) {
  #weekdays div {
    font-size: 14px; /* Reduz o tamanho dos dias da semana para telas menores */
    width: 43px;
  }
  /* Redimensiona os elementos .day para telas menores */
  .day {
    width: 60px; /* Reduz a largura dos elementos .day para telas menores */
    height: 60px; /* Reduz a altura dos elementos .day para telas menores */
    padding: 8px; /* Reduz o preenchimento dos elementos .day para telas menores */
    border-radius: 12%; /* Reduz o raio da borda dos elementos .day para telas menores */
    margin: 1.5px; /* Reduz a margem dos elementos .day para telas menores */
  }

  aside {
    background-color: #eeeeee;
    color: #fff;
    padding: 10px;
    min-height: 100vh;
    margin: 0;
  }
  .conteinerAside {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  #weekdays div {
    font-size: 14px; /* Reduz o tamanho dos dias da semana para telas menores */
    width: 43px;
  }

  /* Redimensiona os elementos .day para telas menores */
  .day {
    width: 60px; /* Reduz a largura dos elementos .day para telas menores */
    height: 60px; /* Reduz a altura dos elementos .day para telas menores */
    padding: 8px; /* Reduz o preenchimento dos elementos .day para telas menores */
    border-radius: 12%; /* Reduz o raio da borda dos elementos .day para telas menores */
    margin: 1.5px; /* Reduz a margem dos elementos .day para telas menores */
  }

  /* Oculta o elemento aside em telas de telefone */
  aside {
    display: none;
  }

  /* Ajustes adicionais para outros elementos, se necessário */
  .conteinerAside {
    /* ... */
  }
}